{% extends '/base.html' %}

{% block title %}Cotecmar || Equipo - Herramientas Especiales{% endblock %}

{% block custom %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/FMEA.css') }}">
{% endblock %}

{% block body %}

<!-- Tab Content -->
<div class="container" id="reporte" >
  <div class="row toolBar">
      <div class="col-8 m-0 pt-3" style="align-content: center;">
          <h3 class="titulo">Módulo de Herramientas</h3>
          <h5 style="color: #013882; padding-left: 10px; "> Para {{ nombre_equipo }} </h5>
      </div>
      <div class="col-4 pt-3" style="align-items: start; justify-content: end; display: flex; padding-right: 1.5rem;">
          <div class="buttons" style="display: flex; gap: 10px;">
              <a href="{{ url_for('registro_herramientas_especiales',id_equipo_info=id_equipo_info) }}" 
                 class="btn btn-primary">Agregar Herramienta</a>
              <a href="{% if from_url %}{{ from_url }}{% if '?' in from_url %}&from=modulo_herramientas{% else %}?from=modulo_herramientas{% endif %}{% else %}{{ url_for('mostrar_general_page', id_equipo_info=id_equipo_info) }}{% endif %}" 
                 class="btn btn-secondary">Cerrar módulo</a>              
          </div>                
      </div>
  </div>
  <div id="fade-container" style="top: 138px"></div>
  <div class="p-4">
    <!-- Tabs Navigation -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Herramientas generales</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Herramientas especiales</button>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <!-- Pestaña de "Análisis de herramientas" -->
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nombre de la herramienta</th>
              <th scope="col">Parte número</th>
              <th scope="col">Dibujo de sección transversal</th>
              <th scope="col">Cantidad</th>
    
              <th scope="col">Costo</th>
              <th scope="col" colspan="2">Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for analisis in analisis %}
            <tr>
              <td>{{ analisis.nombre }}</td>
              <td>{{ analisis.parte_numero }}</td>
              <td>
                {% if analisis.dibujo_seccion_transversal %}
                {% set imagen_base64 = analisis.dibujo_seccion_transversal|b64encode %}
                {% set mime_prefix = imagen_base64[:5] %} {# Base64 de PNG empieza con iVBOR #}
              
                {% if mime_prefix in ['iVBOR', '/9j/4'] %}
                  <button class="btn btn-link ver-imagen" data-imagen="data:image/png;base64,{{ imagen_base64 }}">
                    Ver imagen
                  </button>
                {% else %}
                  <span class="text-muted">Imagen no disponible</span>
                {% endif %}
              {% else %}
                <span class="text-muted">Sin imagen</span>
              {% endif %}
              </td>
              <td>{{ analisis.cantidad }}</td>
              <td>{{ analisis.valor }}</td>
              <td>
                <button class="boton btn-editar-analisis" data-id="{{ analisis.id }}" data-equipo-info-id="{{id_equipo_info}}"><i class="bi bi-pen"></button>
              </td>
              <td>    
                <button class="btn btn-danger btn-eliminar-analisis" data-id="{{ analisis.id }}"><i class="bi bi-trash"></button>
    
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    
    
      <!-- Herramientas Especiales Tab -->
    
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nombre de la herramienta</th>
              <th scope="col">Parte número</th>
              <th scope="col">Dibujo de sección transversal</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Costo</th>
              <th scope="col">Manual referenciado</th>
              <th scope="col" colspan="2">Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for herramienta in herramientas %}
            <tr>
              <td>{{ herramienta.nombre_herramienta }}</td>
              <td>{{ herramienta.parte_numero }}</td>
              <td>
                {% if herramienta.dibujo_seccion_transversal %}
                  {% set imagen_base64 = herramienta.dibujo_seccion_transversal|b64encode %}
                  {% set mime_prefix = imagen_base64[:5] %}  {# 'iVBOR' para PNG, '/9j/4' para JPG #}

                  {% if mime_prefix in ['iVBOR', '/9j/4'] %}
                    <button class="btn btn-link ver-imagen" data-imagen="data:image/png;base64,{{ imagen_base64 }}">
                      Ver imagen
                    </button>
                  {% else %}
                    <span class="text-danger">Imagen no disponible</span>
                  {% endif %}
                {% else %}
                  <span class="text-muted">Sin imagen</span>
                {% endif %}
              </td>
              <td>{{ herramienta.cantidad }}</td>
              <td>{{ herramienta.valor }}</td>
              <td>{{ herramienta.manual_referencia }}</td>
              <td>
                <button class="boton btn btn-primary btn-editar" data-id="{{ herramienta.id }}" data-equipo-info-id="{{id_equipo_info}}"><i class="bi bi-pen"></i></button>
    
              </td>
              <td>
                <button class="btn btn-danger btn-eliminar" data-id="{{ herramienta.id }}"><i class="bi bi-trash"></button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
    
        </table>
      </div>
    </div>
  </div>

 <!-- Modal de Imagen -->
 <div class="modal fade" id="modalImagen" tabindex="-1" aria-labelledby="modalImagenLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
      <div class="modal-content">
          <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
          </div>
          <div class="modal-body text-center">
          <img id="imagenModal" class="img-fluid rounded" style="max-width: 90%; max-height: 80vh;" alt="Imagen no disponible">
          </div>
      </div>
  </div>
</div>

</div>


<!-- Additional Links and Scripts -->
<div class="mt-4">

  <a href="{{ url_for('registro_repuesto', token=session['token'],id_equipo_info=id_equipo_info) }}" class="btn btn-primary1 terminar">Terminar Modulo de Herramientas</a>
</div>

<script src="{{ url_for('static', filename='js/mostrar_herramientas.js') }}"></script>
{% endblock %}
