/* Estilos generales */
body {
    background-color: #f5f5f5; /* Fondo gris claro */
    font-family: 'Inter', sans-serif !important;
}

.light-text {
    font-weight: 300; /* Inter Light */
}

.regular-text {
    font-weight: 400; /* Inter Regular */
}

.medium-text {
    font-weight: 500; /* Inter Medium */
}

.semibold-text {
    font-weight: 600; /* Inter SemiBold */
}

.bold-text {
    font-weight: 700; /* Inter Bold */
}

.extrabold-text {
    font-weight: 800; /* Inter ExtraBold */
}

.black-text {
    font-weight: 900; /* Inter Black */
}

/* Asegurar que el navbar permanece blanco */
.navbar {
  background-color: #fff !important;
  position: static;   /* ← antes estaba sticky */
  top: auto;
  z-index: auto;
}


/* Estilos para las tarjetas */
.card {
    width: 22%; /* Tamaño de tarjeta ajustado */
    height: 202px; /* Ajuste de altura */
    background-color: white;
    box-shadow: 0 4px 10px rgba(123, 115, 235, 0.473);
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column; /* Coloca el contenido en columna */
    justify-content: flex-start; /* Alinea el contenido en la parte superior */
    align-items: center;
    color: #003366; /* Color de texto */
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 10px;
    
}

.card img {
    width: 100%;
    height: 150px;
    border-top-left-radius: 4px; /* Opcional: ajusta los bordes si la card tiene esquinas redondeadas */
    border-top-right-radius: 4px;
    background-color: rgba(0, 0, 255, 0.3); 
    mix-blend-mode: multiply;
}
.card h1 {
    font-size: 40px;
    color: #004AAD;
    margin: 5px 0; /* Espaciado más ajustado */
    font-weight: 800;
    text-transform: uppercase;
}
.grupo{
   padding: 2px;
   margin-bottom: 0 !important;
}
.card:hover {
    transform: translateY(-5px); /* Efecto de levantar la tarjeta */
    box-shadow: 0 8px 16px rgba(123, 115, 235, 0.473);
}
/* Barra de búsqueda */
.search-bar {
    text-align: center;
    display: flex;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 20px;
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;
    gap: 0px; 
}

#searchbox {
    padding: 12px;
    border: 1px solid #ccc;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    width: 100%;
    height: 42px;
    z-index: 1;
}
/* Estilos para los botones */
#nuevoEquipoBtn {
    padding: 8px 8px;
    background-color: #003366; /* Azul oscuro */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 42px;
    max-height: 100px;
    z-index: 10;
    width: 155px;
}
#nuevoEquipoBtn:hover {
    background-color: rgb(13, 2, 63); /* Azul más oscuro al pasar el mouse */
}
#buscarBtn, #buscarBtnGeneral, #buscarBtnBuque {
    border: none;
    background-color: #003366;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 42px;
    padding-left: 10px;
    padding-right: 10px;
}
/* Botón de volver */
#volverBtn {
    text-align: center;
    width: 100px;
}

.volverBtn {
    padding: 12px 0;
    background-color: transparent; /* Azul oscuro */
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.volverBtn, .volverBtn i{
    color: #003366;
    font-size: 18px;
}

.search-bar p{
    margin: 0;
    text-align: left;
    color: rgb(33, 37, 41);
    border-left: 3px solid #003366; /* Color y grosor de la línea */
    padding-left: 10px; /* Espacio entre la línea y el texto */
    line-height: 1.5; /* Ajusta el espaciado de línea */
    height: 24px;
    margin-left: 20px;
}
/* Ocultar elementos si es necesario */
.hidden {
    visibility: hidden;
}
/* Enlaces para 'Nuevo equipo' */
.new_equipo {
    text-decoration: none;
    color: white;
}
/* Estilos de navegación */
.nav-link.active {
    background-color: #0c367f3a;
}
/* Iconos */
i {
    /*color: white;*/
}

/* Ajuste adicional para la distancia y posición de los elementos */
.grid-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px; /* Ajuste adicional para que queden más pegadas arriba */
    padding-top: 0;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    gap: 4%; /* Espacio mayor entre tarjetas */
    justify-content: flex-start;
}

.dynamic-card {
    width: 250px; /* Tamaño de tarjeta ajustado */
    height: 150px; /* Ajuste de altura */
    background-color: white;
    box-shadow: 0 4px 10px rgba(123, 115, 235, 0.473);
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column; /* Coloca el contenido en columna */
    justify-content: flex-start; /* Alinea el contenido en la parte superior */
    align-items: center;
    font-size: 16px;
    color: #003366; /* Color de texto */
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 10px 5px;
}
.dynamic-card:hover {
    transform: scale(1.05); /* Efecto de hover */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Sombra más marcada */
}


[data-type="grupo"] .overlay-text {
    position: absolute;
    top: 62%;
    left: 55px;
    transform: translate(-50%, -50%); 
    color: white; 
    font-size: 40px; 
    font-weight: bold; 
    pointer-events: none; 
}

*/

.image-container {
    position: relative;
    display: inline-block;
    width: 100%;
}
.grupo-style {
    font-weight: bold;
    font-size: 15px;
    font-weight: 900;
}
.subgrupo-style {
    font-weight: 400;
    font-size: 14px;
}
.card p {
    color: #1862B0;
    padding-right: 10px;
    padding-left: 10px;
    text-transform: uppercase;
    height: 50px;
    align-content: center;
    line-height: 19px;
    margin: 0;
}
.navbar-brand{
    padding: 0 !important;
}
.container-fluid{
    padding-left: 4%;
    padding-right: 4%;
}

.main-container {
    position: relative; /* Permite posicionar elementos internos con referencia a este contenedor */
    width: 100%;
    max-width: 2200px; /* Ajusta el ancho máximo */
    margin: 0 auto; /* Centra el contenedor */
}

.search-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 180px;
}

.card_equipos{
    height: 164px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(123, 115, 235, 0.473);
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    color: #003366;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card_equipos h1 {
    font-size: 14px;
    color: #003366;
    margin: 5px 0;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}

#desgloseButton, #botonBloque {
    font-weight: 500;
    font-size: 14px;
    color: rgb(107, 114, 128);
    border-radius: 0;
}

#desgloseButton:hover, #botonBloque:hover {
    color: rgb(17, 24, 39);
    border-bottom: 2px solid rgb(209, 213, 219);
}

#desgloseButton:focus, #botonBloque:focus {
    color: rgb(17, 24, 39);
    border-bottom: 2px solid rgb(67, 56, 202);
}

/* Estado activo */
#desgloseButton.active, #botonBloque.active {
    color: rgb(17, 24, 39);
    border-bottom: 2px solid rgb(67, 56, 202);
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

#loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    backdrop-filter: blur(10px);
    pointer-events: none;
}

#loadingScreen.show {
    opacity: 1;
    pointer-events: auto;
    overflow: hidden;
}

.spinner {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top: 5px solid #728694;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.spinner img {
    width: 70%;
    height: 70%;
    object-fit: contain;
    opacity: 0.4;
    animation: sail 2s ease-in-out infinite;
    margin-top: 15px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes sail {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

.btn-danger{
    background-color: #730C02;
    border-color: #730C02;
}

[data-type="equipo"] .overlay-text {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #003366;
}

[data-type="equipo"] img{
    width: 100%;
    height: 122px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    object-fit: cover;
}


.centered-content {
    justify-content: center !important;
}


.btn-azul{
    background-color: #003366;
    border-color: #003366;
    color: white;
}

.btn-azul:hover{
    background-color: #002244;
    border-color: #002244;
    color: white;
}