/* Estilos generales */
body {
    background-color: #f5f5f5; /* Fondo gris claro */
    font-family: 'Inter', sans-serif !important;
}

/* Asegurar que el navbar permanece blanco */
.navbar {
    background-color: rgb(255, 255, 255) !important;
    position: sticky;  /* Hace que el elemento sea pegajoso */
    top: 0;            /* El valor de 'top' define a partir de qué punto se pega */
    z-index: 1000;     /* Asegura que esté por encima de otros elementos */
}

/* General layout */
.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Espacio mayor entre tarjetas */
    margin-top: 20px; /* Reducido el margen superior */
    justify-content: space-around;
}

/* Estilos para las tarjetas */
.card {
    width: 300px; /* Tamaño de tarjeta ajustado */
    height: 202px; /* Ajuste de altura */
    background-color: white;
    box-shadow: 0 4px 10px rgba(123, 115, 235, 0.473);
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column; /* Coloca el contenido en columna */
    justify-content: flex-start; /* Alinea el contenido en la parte superior */
    align-items: center;
    color: #003366; /* Color de texto */
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

.card img {
    width: 100%;
    height: 150px;
    border-top-left-radius: 4px; /* Opcional: ajusta los bordes si la card tiene esquinas redondeadas */
    border-top-right-radius: 4px;
    background-color: rgba(0, 0, 255, 0.3); 
    mix-blend-mode: multiply;
}
.card h1 {
    font-size: 40px;
    color: #004AAD;
    margin: 5px 0; /* Espaciado más ajustado */
    font-weight: 800;
    text-transform: uppercase;
}
.grupo{
   padding: 2px;
   margin-bottom: 0 !important;
}
.card:hover {
    transform: translateY(-5px); /* Efecto de levantar la tarjeta */
    box-shadow: 0 8px 16px rgba(123, 115, 235, 0.473);
}
/* Barra de búsqueda */
.search-bar {
    text-align: center;
    display: flex;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 20px;
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;
    gap: 0px; 
}

#searchbox {
    padding: 12px;
    border: 1px solid #ccc;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    width: 100%;
    height: 42px;
    z-index: 1;
}
/* Estilos para los botones */
#nuevoEquipoBtn {
    padding: 8px 16px;
    background-color: #013882; /* Azul oscuro */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 42px;
    max-height: 100px;
    z-index: 10;
    width: 180px;
}
#nuevoEquipoBtn:hover {
    background-color: rgb(13, 2, 63); /* Azul más oscuro al pasar el mouse */
}
#buscarBtn, #buscarBtnGeneral, #buscarBtnBuque {
    border: none;
    background-color: #013882;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 42px;
    padding-left: 10px;
    padding-right: 10px;
}
/* Botón de volver */
#volverBtn {
    text-align: center;
    width: 80px;
}

.volverBtn {
    padding: 12px 0;
    background-color: transparent; /* Azul oscuro */
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.volverBtn, .volverBtn i{
    color: #013882;
    font-size: 18px;
}

.search-bar p{
    margin: 0;
    text-align: left;
    font-weight: bold;
    color: #013882;
    border-left: 3px solid #013882; /* Color y grosor de la línea */
    padding-left: 10px; /* Espacio entre la línea y el texto */
    line-height: 1.5; /* Ajusta el espaciado de línea */
    height: 24px;
    margin-left: 20px;
}
/* Ocultar elementos si es necesario */
.hidden {
    visibility: hidden;
}
/* Enlaces para 'Nuevo equipo' */
.new_equipo {
    text-decoration: none;
    color: white;
}
/* Estilos de navegación */
.nav-link.active {
    background-color: #0c367f3a;
}
/* Iconos */
i {
    color: white;
}

/* Ajuste adicional para la distancia y posición de los elementos */
.grid-container {
    display: flex;
    justify-content: space-around; /* Espacio uniforme entre las tarjetas */
    flex-wrap: wrap;
    margin-top: 10px; /* Ajuste adicional para que queden más pegadas arriba */
    padding-top: 0;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.dynamic-card {
    width: 250px; /* Tamaño de tarjeta ajustado */
    height: 150px; /* Ajuste de altura */
    background-color: white;
    box-shadow: 0 4px 10px rgba(123, 115, 235, 0.473);
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column; /* Coloca el contenido en columna */
    justify-content: center; /* Alinea el contenido en la parte superior */
    align-items: center;
    font-size: 16px;
    color: #003366; /* Color de texto */
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 10px 5px;
}
.dynamic-card:hover {
    transform: scale(1.05); /* Efecto de hover */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Sombra más marcada */
}
.overlay-text {
    position: absolute;
    top: 62%;
    left: 20%;
    transform: translate(-50%, -50%); /* Ajuste para centrar */
    color: white; /* Texto blanco */
    font-size: 40px; /* Ajusta el tamaño según necesidad */
    font-weight: bold; /* Texto en negrita */
    pointer-events: none; /* Evita que el texto interfiera con clics en la imagen */
}
.image-container {
    position: relative;
    display: inline-block;
    width: 100%;
}
.grupo-style {
    font-weight: bold;
    font-size: 15px;
    font-weight: 900;
}
.subgrupo-style {
    font-weight: 400;
    font-size: 14px;
}
.card p {
    color: #1862B0;
    padding-right: 10px;
    padding-left: 10px;
    text-transform: uppercase;
    height: 50px;
    align-content: center;
    line-height: 19px;
    margin: 0;
}
.navbar-brand{
    padding: 0 !important;
}
.container-fluid{
    padding-left: 4%;
    padding-right: 4%;
}

.main-container {
    position: relative; /* Permite posicionar elementos internos con referencia a este contenedor */
    width: 100%;
    max-width: 2200px; /* Ajusta el ancho máximo */
    margin: 0 auto; /* Centra el contenedor */
}

.search-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.card_equipos{
    width: 250px;
    height: 100px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(123, 115, 235, 0.473);
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #003366;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card_equipos h1 {
    font-size: 18px;
    color: #004AAD;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 800;
    text-transform: uppercase;
}

#desgloseButton, #botonBloque {
    font-weight: 500;
    font-size: 14px;
    color: rgb(107, 114, 128);
    border-radius: 0;
}

#desgloseButton:hover, #botonBloque:hover {
    color: rgb(17, 24, 39);
    border-bottom: 2px solid rgb(209, 213, 219);
}

#desgloseButton:focus, #botonBloque:focus {
    color: rgb(17, 24, 39);
    border-bottom: 2px solid rgb(67, 56, 202);
}

/* Estado activo */
#desgloseButton.active, #botonBloque.active {
    color: rgb(17, 24, 39);
    border-bottom: 2px solid rgb(67, 56, 202);
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

#loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    backdrop-filter: blur(10px);
    pointer-events: none;
}

#loadingScreen.show {
    opacity: 1;
    pointer-events: auto;
    overflow: hidden;
}

.spinner {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top: 5px solid #728694;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.spinner img {
    width: 70%;
    height: 70%;
    object-fit: contain;
    opacity: 0.4;
    animation: sail 2s ease-in-out infinite;
    margin-top: 15px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes sail {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

.btn-danger{
    background-color: #730C02;
    border-color: #730C02;
}