body {
    background-color: #f5f5f5; /* Fondo gris claro */
    font-family: 'Inter', sans-serif !important;
    overflow-y: hidden !important;
}


#desglose-container {
    display: flex;
    width: auto;
    gap: 20px;
    margin-right: 1.5rem!important;
    margin-left: 1.5rem!important;
    margin-top: .25rem;
    margin-bottom: .25rem;
    transition: all 0.5s ease;
}

button.group-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 8px;
    background-color: rgb(229, 231, 235);
    color: #003366;
    border-radius: 8px;
    border: none;
    transition: all 0.3s ease;
    text-align: left;
    cursor: pointer;
}

button.group-btn:hover {
    background-color: rgb(200, 202, 205);
}

button.selected-group {
    background-color: #105dad !important;
    color: white !important;
}

button.group-btn .code {
    font-size: 20px;
    font-weight: 900;
}

button.group-btn .desc {
    font-size: 13px;
    padding-left: 10px;
    flex-grow: 1;
}

#equipos-content .equipo-card {
    background-color: rgb(243, 244, 246);
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
    transition: all 0.2s ease;
    animation: fadeIn 0.4s ease;
}

#equipos-content .equipo-card:hover {
    background-color: rgb(229, 231, 235);
    transform: translateY(-3px);
}

#equipos-content .equipo-card h4 {
    color: #003366;
    font-size: 16px;
    margin-bottom: 8px;
}

#equipos-content .equipo-card p {
    color: #4b5563;
    font-size: 14px;
    margin-bottom: 4px;
}

.no-equipos-msg {
    text-align: center;
    font-size: 16px;
    color: #555;
    padding: 50px 0;
    animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}


.list-group-equipos {
    max-height: 600px;
    overflow-y: auto;
    padding-top: 8px;
}

.list-group-item {
    background-color: rgb(229, 231, 235);
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.2s;
    text-align: left;
}

.list-group-item:hover {
    background-color: rgb(200, 202, 205);
}

.list-group-item.active {
    background-color: #105dad;
    color: white;
}

.titulo-col {
    font-size: 14px;
    height: 20px;
    text-align: center;
    color: #003366;
    font-weight: bold;
}

.fua-header {
    display: flex;
    align-items: center;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    padding-top: .25rem;
    padding-bottom: .25rem;
    justify-content: flex-start;
    gap: 10px;
}

.titulo-fua {
    font-weight: bold;
    color: rgb(150, 54, 234);
    font-size: 40px;
}

.label-fua {
    display: block;
    font-size: 14px;
    color: #4b5563;
    max-width: 120px;
    line-height: 1.3;
    word-break: break-word;
    padding-left: 4px;
}

.nombre-buque {
    border-left: 2px solid #003366;
    padding-left: 10px;
    color: #003366;
    font-size: 1rem;
    white-space: normal;
}
#grupos-container {
    transition: width 0.5s ease, opacity 0.4s ease;
}

.grupos-expanded {
    width: 14%;
}

.grupos-expanded-inicial {
    width: 50%;
}

.grupos-collapsing {
    opacity: 0;
    width: 0;
    transition: width 0.5s ease, opacity 0.4s ease;
    overflow: hidden;
}

.grupos-hidden {
    display: none !important;
}

#equipos-container {
    margin-right: 5px;
    transition: width 0.5s ease;
}

.equipos-expanded-inicial {
    width: 50%;
}

.equipos-after-detail {
    width: 40%;
}

#detalle-equipo-container {
    overflow: hidden;
    flex-shrink: 0;
    transition: width 0.5s ease, opacity 0.4s ease;
}

.detalle-mostrando {
    display: flex;
    width: 0;
    opacity: 0;
    overflow: hidden;
}

.detalle-visible {
    width: 60%;
    opacity: 1;
    border-left: 1px solid #e5e7eb;
    padding-left: 1rem;
}

.show {
    opacity: 1;
    transition: opacity 0.4s ease;
}

.hide {
    opacity: 0;
    transition: opacity 0.4s ease;
}

#toggle-bar {
    width: 30px;
    background-color: #003366;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 5px;
    margin-right: 5px;
}

#toggle-bar:hover {
    background-color: #0d4c8a;
}

#chevron-icon {
    color: white;
    font-size: 24px;
    transition: transform 0.4s ease;
}

.grupos-collapsing + #toggle-bar #chevron-icon {
    transform: rotate(180deg);
}

.grupos-collapsing + #toggle-bar{
    margin-left: -8px;
}

.rotated-label {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: white;
    font-weight: bold;
    font-size: 12px;
    opacity: 0;
    margin-top: 10px;
    transition: opacity 0.6s ease, transform 0.6s ease;
    transform: translateY(30px) rotate(180deg);
}

.grupos-collapsing + #toggle-bar .rotated-label {
    opacity: 1;
    transform: translateY(0) rotate(180deg);
}

.floating-group {
    position: relative;
}

.floating-input {
    width: 100%;
    border: 1px solid #cbd5e0;
    background-color: white;
    color: #003366;
    font-size: 14px;
    padding: 12px 8px 6px 8px;
    outline: none;
    border-radius: 5px;
    height: 38px;
}

.floating-label {
    position: absolute;
    top: 12px;
    color: #003366; /* Morado */
    font-size: 14px;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
    background-color: white;
    padding: 0 2px;
}

.floating-input:focus + .floating-label,
.floating-input:not(:placeholder-shown) + .floating-label,
.floating-input:valid + .floating-label {
    top: -8px;
    left: 18px;
    font-size: 12px;
    color: #003366;
}

#filtro-sistemas-container {
    animation: fadeIn 0.3s ease;
}

.equipo-item {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: left;
    border: none;
    border-bottom: 1px solid #cbd5e0;
    background-color: transparent;
    padding: 8px;
    font-size: 14px;
    color: #003366;
    cursor: pointer;
    transition: background-color 0.2s;
}

.equipo-item:hover {
    background-color: #f0f4f8;
}

.barra-morada {
    width: 4px;
    background-color: transparent;
    height: auto; /* se adapta al contenido */
    transition: background-color 0.2s;
    margin-right: 8px;
}

.equipo-item.selected .barra-morada {
    background-color: #942be7;
    height: 20px;
}

.equipo-texto {
    flex-grow: 1;
}

.buttons {
    width: 90%;
}


.buttons button{
    align-items: center;
    background-color: rgb(229 231 235)!important;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    border-radius: .25rem;
    border: none !important;
}

.buttons button:hover{
    background-color: rgb(194, 195, 197);
}

.buttons .active{
    background-color: #003366 !important;
    color: white !important;
}

#NavTools{
    justify-content: space-between;
    padding-bottom: 0;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    margin: 0;
}

#btn-editar{
    background-color: #003366;
    width: 40px;
    height: 40px;
    padding: 0;
}

#btn-editar i{
    color: #ffffff;
}


.subtitulo {
    font-weight: bold;
    font-size: 18px;
}

#campos-estaticos-fua .row{
    margin-left: 2px;
    font-size: 14px;
}

.withUnid {
    display: flex;
    height: 38px;
}

.withUnid span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 6px;
}

.withUnid input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 60px;
    padding: 6px;
}

.zone .row {
    align-items: center;
}

.section {
    display: none;
}
.section.active {
    display: block;
}
.tab-button.active {
    background-color: #4f46e5;
    color: white;
}

.text-lift {
    display: inline-block;
    transition: transform 0.2s ease, text-shadow 0.2s ease;
  }
  
  .text-lift:hover {
    transform: translateY(-2px);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  