html,
body {
  height: 100%;
  margin: 0; /* Asegúrate de que no haya márgenes alrededor del cuerpo */
  display: flex;
  flex-direction: column; 
}

h2{
  color:#002e69;
  padding: 10px;
}

.login-div{
  display: flex;
  width: 100%; /* Ocupa todo el ancho de la pantalla */
  height: 100%; /* Ocupa toda la altura de la pantalla */
  
}

.carrusel{
  flex: 1; /* Ocupa el espacio disponible restante */
  width: 100%;
  height: 100%; /* Asegura que el contenedor del carrusel ocupe toda la altura */
  overflow: hidden; /* Asegura que la imagen no se desborde */
}

.carrusel img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  background-color: gainsboro;
  overflow: hidden;
}

form{
  background-color: gainsboro;
  max-width: 100%;
  text-align: center;
  padding: 2rem;
  max-height: auto;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0.75rem 1rem; /* Aumentar el padding de los campos de entrada */
  font-size: 1.1rem; /* Aumentar el tamaño de la fuente */
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 0.75rem 1rem; /* Aumentar el padding de los campos de entrada */
  font-size: 1.1rem; /* Aumentar el tamaño de la fuente */
}

/* Media Queries */
@media (max-width: 650px) {
  .login-div {
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: gainsboro;
  }

  .login {
    width: 100%; /* Asegura que el contenedor de login ocupe el 100% del ancho en pantallas pequeñas */
  }

  .carrusel {
    display: none; /* Oculta el carrusel en pantallas pequeñas */
  }

  .form-signin {
    padding: 1rem; /* Reduce el padding en pantallas pequeñas */
  }
}

.flashes {
  list-style-type: none;
  padding: 0;
}

.flashes li {
  border: 1px solid; 
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.rol{
  text-align: left;
}

a{
  text-decoration: none;
  color:white;
}

.btn-danger{
  background-color: #730C02;
  border-color: #730C02;
  padding: 8px;
}

.btn-primary{
  background-color: #0c377f;
  border-color: #0c377f;
}

.btn-warning{
  background-color: #F0B040;
  border-color: #F0B040;
  padding: 8px;
}
