body {
    font-family: 'Inter', sans-serif;
    background-image: url('../img/bote.png'); /* Asegúrate de que la ruta sea correcta */
    background-size: cover; /* Hace que la imagen cubra todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    min-height: 100vh; /* Se asegura que cubra toda la altura de la pantalla */
    width: 100%; /* Asegura que cubra todo el ancho */
    overflow-x: hidden; /* Evita que aparezca un scroll horizontal si la imagen se desborda */
    
}

@media (max-width: 768px) {
    /* Ajusta los elementos de la página para pantallas pequeñas */
   

    input[type="search"] {
        width: 100%; /* Asegura que el input de búsqueda sea responsivo */
    }

    /* Ajusta otros elementos si es necesario */
}

.btn-danger{
    background-color: #730C02;
    border-color: #730C02;
    padding: 8px;
}

.btn-primary{
    background-color: #0c377f;
    border-color: #0c377f;
}

.btn-warning{
    background-color: #F0B040;
    border-color: #F0B040;
    padding: 8px;
}
