body {
    background-color: #f5f5f5; /* Fondo gris claro */
    font-family: 'Inter', sans-serif !important;
    overflow-y: hidden !important;
}

.volverBtn {
    width: 33px;
    height: 33px;
    background-color: #003366;
    padding: 0;
    border-radius: 50px;
    border: 0;
}

.volverBtn i{
    color: white;
    font-size: 18px;
}

/* Botón de volver */
#navigation-info {
    display: inline-flex;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
}

#navigation-info p {
    margin: 0;
    padding-left: 8px;
    border-left: 2px solid #003366;
    margin-left: 8px;
    font-weight: bold;
    color: #003366;
}

.list-group {
    max-height: 84vh; /* Altura máxima que permite el scroll */
    overflow-y: auto;  /* Habilita el scroll vertical */
}

.list-group button {
    border-radius: 6px;
}

.list-group-item.active {
    background-color: #e5e7eb;
    font-weight: bold;
    color: rgb(49, 48, 48); 
}

.list-group-item {
    background-color: transparent;
    border: none;
}

.main-container{
    width: auto;
}

#detalle-equipo{
    background-color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(123, 115, 235, 0.473);
    max-height: 82vh; /* Define una altura máxima */
    overflow-y: auto;  /* Habilita el scroll vertical */
}

/* Ocultar contenido del formulario al cargar la página */
#detalle-equipo .card-body {
    opacity: 0; /* Totalmente transparente */
    visibility: hidden; /* No interactúa con el DOM */
    transition: opacity 0.5s ease, visibility 0.5s ease; /* Transición suave */
    height: 0;
}

#detalle-equipo .card-body.show {
    opacity: 1; /* Totalmente visible */
    visibility: visible; /* Se muestra */
    height: auto;
}

#NavTools{
    justify-content: space-between;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 0;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    margin: 0;
}


#fade-container {
    position: sticky;
    top: 60px;
    width: 100%;
    height: 20px; /* Altura del área del fade */
    background: linear-gradient(to bottom, white, rgba(255, 255, 255, 0));
    pointer-events: none; /* Permite que los clics pasen al contenido debajo */
    z-index: 101; /* Asegúrate de que esté por encima del contenido */
}

.buttons {
    padding: 0;
    width: auto;
}


.buttons button{
    align-items: center;
    background-color: rgb(229 231 235)!important;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    border-radius: .25rem;
    border: none !important;
}

.buttons button:hover{
    background-color: rgb(194, 195, 197);
}

.buttons .active{
    background-color: #003366 !important;
    color: white !important;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

.tab-button {
    margin-right: 10px;
}

.form-control:focus {
    box-shadow: none;
}

/* Configuración inicial del mensaje predeterminado */
#mensaje-predeterminado {
    opacity: 1; /* Totalmente visible */
    transition: opacity 0.5s ease;
}

/* Ocultar el mensaje predeterminado */
#mensaje-predeterminado.hide {
    opacity: 0;
    visibility: hidden;
    height: 0;
    padding: 0 !important;
}

.zone{
    padding-top: 0;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    padding-bottom: 1.2rem;
}

.zone .row {
    align-items: center;
}

.withUnid{
    display: flex;
}

.withUnid input{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.withUnid span{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#btn-editar{
    background-color: #003366;
    width: 40px;
    height: 40px;
    padding: 0;
}

#btn-editar i{
    color: #ffffff;
}

.subtitulo{
    font-weight: bold;
    font-size: 18px;
}

#section1 label{
    margin-left: 12px;
}
.btn-danger{
    background-color: #730C02;
    border-color: #730C02;
    padding: 8px;
}

.btn-primary{
    background-color: #0c377f;
    border-color: #0c377f;
}

.btn-warning{
    background-color: #F0B040;
    border-color: #F0B040;
    padding: 8px;
}
