body {
    background-color: #f5f5f5;
}

.navbar{
    position: sticky;  /* Hace que el elemento sea pegajoso */
    top: 0;            /* El valor de 'top' define a partir de qué punto se pega */
    z-index: 1000;     /* Asegura que esté por encima de otros elementos */
    /* Otros estilos que necesites para el diseño */
}

.section-title {
    color: #0d023f;
    font-weight: bold;
}

.form-label {
    font-weight: bold;
}

.form-check-label {
    margin-left: 10px;
}

.btn-siguiente {
    background-color: #0c377f;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.btn-siguiente:hover {
    background-color: #0c367fc7;
}

hr {
    width: 90%;
    margin: 0 auto; /* Esto centrará el <hr> */
    margin-top: 20px;
}

.gray-input {
    background-color: #e0e0e0;
    color: #333;
}

.section-title {
    color:  #0c377f !important; /* Azul */
    font-weight: bold; /* Negrita */
}

/* Estilo del contenedor */
.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
    
/* Información oculta inicialmente */
.tooltip-text {
visibility: hidden;
width: 450px;
background-color:  #6567ce6e ;
color: #fff;
text-align: center;
border-radius: 5px;
padding: 10px;
position: absolute;
bottom: 125%; /* Ajusta la posición vertical */
left: 50%;
transform: translateX(-70%);
opacity: 0;
transition: opacity 0.3s;
}

/* Triángulo que apunta al botón */
.tooltip-text::after {
content: "";
position: absolute;
top: 100%; /* Apunta hacia abajo */
left: 72%;
transform: translateX(-150%);
border-width: 5px;
border-style: solid;
border-color: #6567ce6e transparent transparent transparent;
}

/* Mostrar información al pasar el ratón */
.tooltip-container:hover .tooltip-text {
visibility: visible;
opacity: 1;
}

.info{
    font-size:25px;
    border: none;
    background-color: transparent;
}

.matrizRiesgo{
    width: 400px;
}

#hoja {
    max-width: 100% !important;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(123, 115, 235, 0.473);
}

.btn-danger{
    background-color: #730C02;
    border-color: #730C02;
    padding: 8px;
}

.btn-primary{
    background-color: #0c377f;
    border-color: #0c377f;
}

.btn-warning{
    background-color: #F0B040;
    border-color: #F0B040;
    padding: 8px;
}
