body {
    background-color: #f5f5f5;
}

.navbar{
    position: sticky;  /* Hace que el elemento sea pegajoso */
    top: 0;            /* El valor de 'top' define a partir de qué punto se pega */
    z-index: 1000;     /* Asegura que esté por encima de otros elementos */
    /* Otros estilos que necesites para el diseño */
}

.section-title {
    color: #0c377f;
    font-weight: bold;
    text-align: center;
}

.form-label {
    font-weight: bold;
}

.form-check-label {
    margin-left: 11px;
}

.form-check{
    padding-left: 2.5rem;
}

.btn-siguiente {
    background-color: #0c377f;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.btn-siguiente:hover {
    background-color: #0c367fc7;
}

.navbarvertical {
    width: auto;
    padding: 10px;
}
.navbarvertical .nav-link {
    white-space: nowrap; /* Asegura que el texto no se corte en varias líneas */
}
.navbar-toggler {
    border-color: rgb(13, 2, 63);
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    align-items: center;
}
.col-auto{
    align-items: center;
}

.col{
    padding:35px 80px 30px 45px;
}

.navbar-toggler-icon{
    padding:60px 0;
    text-align: center;
}

.nav-link{
    color: #0c377f; /* Azul */
    font-weight: bold;
}

.nav-item.active{
    background-color: #0c367f3a;
    border-radius: 10px;
}

.nav-item:hover{
    background-color: #0c367f17;
    border-radius: 10px;
}

.btn-primary {
    background-color: rgb(13, 2, 63);
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: rgb(33, 33, 99);
}

.btn-secondary {
    background-color: transparent;
    color: white;
    padding: 5px 5px;
    border: none;
    font-size: 40px;
    cursor: pointer;
    position: absolute; 
    bottom: 10px;
    left: 10px;
}

.btn-secondary:hover,.btn-secondary:focus,.btn-secondary:active{
    background-color: transparent;
    outline: none; /* Elimina el contorno al hacer clic */
    box-shadow: none; 
}

.popup{

    text-align: center;
}

.btn-danger{
    background-color: #730C02;
    border-color: #730C02;
    padding: 8px;
}

.btn-primary{
    background-color: #0c377f;
    border-color: #0c377f;
}

.btn-warning{
    background-color: #F0B040;
    border-color: #F0B040;
    padding: 8px;
}

#hoja {
    max-width: 100% !important;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(123, 115, 235, 0.473);
}


#myTab{
    padding-top: 20px;
    font-size: 15px !important;
}

.herramienta-checkbox{
    border-color: rgba(34, 34, 34, 0.911);
}

#myTabContent{
    border-left: 1px solid rgb(222, 226, 230);
    border-bottom: 1px solid rgb(222, 226, 230);
    border-right: 1px solid rgb(222, 226, 230);
    border-radius: 8px;
}