.imagens h2{
    color: #0c377f !important;
    font-weight: bold;
    margin-bottom: 20px;
}



.imagens{
    padding: 5px;
    background-color: #d3d3d388;
}


.imagen{
    max-width: 600px;
    max-width: 400px;
}

h3, h2 {
    color: rgb(1, 56, 130) !important;
    font-weight: bold !important;
    margin-top: 10px;  /* Espaciado superior */
    font-size: 22px  !important;
}



.volver{
    font-size: 25px;
    padding-bottom: 50px;
}

tr{
    text-align: center;
    vertical-align: middle; 
}

.reporte {
    background-color: #003366 !important;
    position: fixed;
    z-index: 1000; 
    right: 0px;
    bottom: 50px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 60px;  /* Tamaño inicial del botón compacto */
    height: 50px; /* Tamaño inicial del botón */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: width 0.4s ease, padding 0.4s ease; /* Transición suave en el cambio de tamaño */
    overflow: hidden;
    cursor: pointer;
}


.reporte .text {
    color: whitesmoke;
    font-size: 16px;
    white-space: nowrap; /* Evita que el texto se divida en líneas */
    display: none; /* Oculta el texto cuando el botón está contraído */
}

.reporte:hover {
    width: 180px; /* Expande el botón cuando se pasa el cursor */
    justify-content: flex-start; /* Alinea el contenido al inicio del botón */
    padding-left: 10px; /* Añade espacio entre el borde y el contenido */
}

.reporte:hover .text {
    display: inline-block; /* Muestra el texto cuando se expande */
}

.reporte:hover img {
    font-size: 40px;  /* Tamaño del ícono */
    margin-right: 10px; /* Espacio para el ícono cuando se expanda */
    
}

#reporte{
    max-width: 96.4% !important;
    padding: 0;
    background-color: white;
    margin-top: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(123, 115, 235, 0.473);
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}
.padding{
    padding-left: 2rem;
    padding-right: 2rem;
}

/* Evitar que las tablas se partan entre páginas */
table {
    page-break-inside: avoid;
}

/* Forzar que cada sección empiece en una nueva página */


.section, p {
    page-break-inside: avoid;
    text-align: justify;
}

table {
    page-break-inside: auto;
    page-break-after: auto;
}

tr {
    page-break-inside: avoid;
    page-break-after: auto;
}

td {
    page-break-inside: avoid;
}

main{
    padding: 0;
}

/* Asegura un espacio inferior en cada tabla o sección */
table, h3, .section {
    margin-bottom: 20px; /* Ajusta según tus necesidades */
}

.special-fmea {
    page-break-inside: avoid; /* Evitar cortes dentro de la sección FMEA */
    break-inside: avoid;      /* Evitar cortes dentro de la sección FMEA */
    overflow: visible;        /* Asegurar que todo el contenido sea visible */
    width: 100%;              /* Asegurar que la sección ocupe todo el ancho */
    font-size: 14px;
}

.imagend{
    max-width: 800px;
    object-fit: contain;
    display: block; /* Asegura que se comporte como un bloque */
    margin-left: auto; /* Centra horizontalmente */
    margin-right: auto; /* Centra horizontalmente */
}

img {
    break-inside: avoid;
}

.buttons{
    padding-top: 1rem;
    padding-bottom: 0.8rem;
    padding-left: 1rem;
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
}

.buttons button{
    align-items: center;
    background-color: rgb(229 231 235);
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    border-radius: .25rem;
    border: none !important;
}

.buttons button{
    align-items: center;
    background-color: rgb(229 231 235);
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    border-radius: .25rem;
    border: none !important;
}

.buttons button:hover{
    background-color: rgb(194, 195, 197);
}

.buttons .btn:disabled{
    background-color: rgba(229, 231, 235, 0.801) !important;
}


.buttons .active{
    background-color: #003366 !important;
    color: white !important;
}

.titulo{
    color: #003366;
    font-weight: bold;    
    text-transform: uppercase;
    border-left: 2px solid #003366;
}

#header{
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    display: inline-flex;
    align-items: center;
}

#header p{
    margin: 0;
    text-align: left;
    font-weight: bold;
    color: #013882;
    border-left: 3px solid #013882; /* Color y grosor de la línea */
    padding-left: 10px; /* Espacio entre la línea y el texto */
    line-height: 1.5; /* Ajusta el espaciado de línea */
    margin-left: 20px;
    font-size: 20px;
    text-transform: uppercase;
}

.zone {
    display: none;
}

.zone.active {
    display: block;
}

.modal-backdrop
{
    opacity:0.2 !important;
}

#add_personal, #delete_personal{
    height: 38px;
}

#fade-container {
    position: sticky;
    top: 178px;
    width: 100%;
    height: 20px; /* Altura del área del fade */
    background: linear-gradient(to bottom, white, rgba(255, 255, 255, 0));
    pointer-events: none; /* Permite que los clics pasen al contenido debajo */
    z-index: 101; /* Asegúrate de que esté por encima del contenido */
}

.toolBar{
    background-color: white;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    margin: 0 !important;
    box-shadow: 0 -4px 10px rgb(123 115 235 / 20%);
}

.imgContainer {
    display: flex;
    justify-content: center;
}

.img-fluid {
    max-width: 80% !important; 
}

.diagrama{
    margin-top: 30px;
}

.form-control{
    margin-bottom: 0 !important;
}

.btn-danger{
    background-color: #730C02;
    border-color: #730C02;
    padding: 8px;
}

.btn-primary{
    background-color: #0c377f;
    border-color: #0c377f;
}

.btn-warning{
    background-color: #F0B040;
    border-color: #F0B040;
    padding: 8px;
}
