body {
    background-color: #f5f5f5;
}

.navbar{
    position: sticky;  /* Hace que el elemento sea pegajoso */
    top: 0;            /* El valor de 'top' define a partir de qué punto se pega */
    z-index: 1000;     /* Asegura que esté por encima de otros elementos */
    /* Otros estilos que necesites para el diseño */
}

.section-title {
    color: #003366;
    font-weight: bold;
}

.form-label {
    font-weight: bold;
}

.btn-primary {
    background-color: #003366;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: rgb(33, 33, 99);
}

textarea {
    resize: none;
}

.navbarvertical {
    width: auto;
    padding: 10px;
}
.navbarvertical .nav-link {
    white-space: nowrap; /* Asegura que el texto no se corte en varias líneas */
}
.navbar-toggler {
    border-color: #003366;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    align-items: center;
}
.col-auto{
    align-items: center;
}

.col{
    padding:35px 80px 30px 45px;
}

.navbar-toggler-icon{
    padding:60px 0;
    text-align: center;
}

.nav-link{
    color: #0c377f; /* Azul */
    font-weight: bold;
}

.nav-item.active{
    background-color: #0c367f3a;
    border-radius: 10px;
}

.nav-item:hover{
    background-color: #0c367f17;
    border-radius: 10px;
}

#moneda {
    width: 80px; /* Ajusta el ancho según tus necesidades */
    max-width: 100px; /* Establece un ancho máximo */
    padding-right: 1rem; /* Ajusta el espacio para la flecha desplegable */
}

#hoja {
    max-width: 100% !important;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(123, 115, 235, 0.473);
}

.btn-danger{
    background-color: #730C02;
    border-color: #730C02;
    padding: 8px;
}

.btn btn-primary{
    background-color: #0c377f;
    border-color: #0c377f;
}