<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popup con datos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pop.css') }}">
</head>
<body>

    <!-- Botón para abrir el popup -->
    <button id="openPopupBtn">Abrir Popup</button>

    <!-- El contenido del popup -->
    <div id="popup" class="popup">
        <div class="popup-content">
            <span class="close-btn" id="closePopupBtn">&times;</span>
            <h2 id="popup-title">Cargando...</h2>
            <p id="popup-message">Espere mientras se cargan los datos...</p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/pop.js') }}"></script>
</body>
</html>
